<div class="modal__bg">
    <div class="modal">
        <div class="modal__container">
            <div class="modal__row">
                <div class="modal__column">
                    {%- for block in section.blocks limit: 1 -%}
                        {%- assign image = block.settings.image -%}
                        {%- if image != blank -%}
                                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                                {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                            {%- endcapture -%}
                                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                                {%- capture sizes -%}
                                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                            {%- endcapture -%}
                                {{
                                image
                                | image_url: width: 1500
                                | image_tag: sizes: sizes, widths: widths
                                }}
                        {%- else -%}
                            {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="modal__column">
                    {%- for block in section.blocks -%}
                        {%- assign product = block.settings.product -%}
                            {%- if product -%}
                            <div class="modal__product-card product-card index-{{ forloop.index0 }}" {{ block.shopify_attributes }}>

                            <div class="product-card__wrapper">

                            {%- for image in product.images limit: 1 -%}
                                <div class="product-card__image">
                                    {{ image |
                                    image_url: width: 200 |
                                    image_tag: widths: '200, 400' }}
                                    {%- if product.compare_at_price > product.price and product.available -%}
                                        <span
                                        id="Badge-{{ section_id }}-{{ product.id }}"
                                        class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
                                      >
                                        {{- 'products.product.on_sale' | t -}}
                                      </span>
                                    {%- endif -%}
                                </div>
                            {%- endfor -%}

                            <div class="product-card__body">
                                <div class="product-card__header card-header">
                                    <div class="card-header__top">
                                        <a class="product-card__link" href="{{ product.url }}">
                                            <div class="product-card__title">
                                                {{ product.title | escape }}
                                            </div>
                                        </a>
                                        <div class="product-card__price">
                                            {{ product.price | money_with_currency }}
                                            <span class="product-card__compare-price">{{ product.compare_at_price | money_with_currency }}</span>
                                        </div>
                                    </div>
                                    <div class="card-header__bottom">
                                        <div class="product-card__desc">
                                            {{ product.description | strip_html | truncatewords: 15 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__footer">
                                    {%- for variant in product.variants limit: 1 -%}
                                    {% comment %} <div class="product-card__sku">SKU: {{ variant.sku }}</div> {% endcomment %}
                                    {% comment %} <div class="product-card__variant-title">{{ variant.title }}</div> {% endcomment %}
                                {%- endfor -%}

                            <div class="product-card__form {% if product.has_only_default_variant %}end{% endif %}">
                                    {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                                    {%- form 'product', product, id: product_form_installment_id, class: 'product-add-to-cart-form' -%}
                                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                        <input min="1" type="number" name="quantity" value="1" hidden="hidden">
                                        
                                        {%- assign product_form_id = 'product-form-' | append: section.id -%}
                                        {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
        
                                        <button type="submit" class="modal__submit-button button addToCartButton">
                                            <span class="product-card__text">{{ 'products.product.add_to_cart' | t }}</span>
                                            <div class="loading-overlay__spinner hidden">
                                                <svg
                                                  aria-hidden="true"
                                                  focusable="false"
                                                  class="spinner"
                                                  viewBox="0 0 66 66"
                                                  xmlns="http://www.w3.org/2000/svg"
                                                >
                                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                </svg>
                                              </div>
                                        </button>
                                        
                                    {%- endform -%}
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ 'lookbook.js' | asset_url }}" defer="defer"></script>